*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --color-white: #fffeff;
    --color-green: #1b998b;
    --color-rose: #decdf5;
    --color-grey: #656176;
    --color-brown: #381d2a;
    --color-white2: #f8f1ff;
}


::-webkit-scrollbar{
    width: 5px;
    height: 20%;
}
::-webkit-scrollbar-track{
    background: rgba(255, 240, 255, 0.067);
}
::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    overflow-x: hidden;
    overflow-y: hidden;
}

/*
    THE NAV CONTAINER
*/

.nav-container{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background: var(--color-white2);
    box-shadow: 0 0 5px 1px var(--color-rose);
    z-index: 1;
}

.nav-elements-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}


/*
    THE NAV TITLE CONTAINER
*/

.nav-title-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 7%;
}

#nav-title{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: var(--color-grey);
    cursor: default;
}


/*
    THE NAV MENU CONTAINER
*/

.nav-menu-container{
    height: 100%;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-selection{
    height: 100%;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

#log-out-container{
    position: absolute;
    top: 0;
    right: 0;
}

#log-out-container::after{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: var(--color-rose);
    transition: .3s all ease-in-out;
}

#log-out-container:hover::after{
    height: 100%;
}

.menu-options{
    font-size: 17px;
    font-weight: bold;
    color: var(--color-grey);
}

#log-out-form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-out{
    border: 0;
    background: unset;
    height: 100%;
    width: 100%;
    cursor: pointer;
}